//NAVBAR
.roboto__nav {
  font-family: $roboto;
  font-size: $roboto-regular;
}
//blog__date
.blog__date {
  font-family: $playfair;
  font-size: $playfair-bold;
  color: $nickel;
}
//blog__txt
.blog__txt {
  font-family: $roboto;
  font-size: $roboto-regular;
  color: $nickel;
}
//naomi__autor
.naomi__autor {
  font-family: $playfair;
  font-size: $playfair-black;
  color: $eerie-black;
  font-style: italic;
}
//naomi__bajada
.naomi__bajada {
  font-family: $roboto;
  font-size: $roboto-regular;
  color: $spanish-pink;
}
